# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # using major version aliases
  - 5.3

install:
  - sudo apt-get install -qq python-mysqldb zipmerge
  - git config --global user.email "test@user"
  - git config --global user.name "test user"

# omitting "script:" would default to phpunit
script: make test
